name: Deploy Science Site

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Upload Index
        run: curl -X PUT "https://storage.bunnycdn.com/${{ secrets.BUNNY_STORAGE_NAME }}/index.html" -H "AccessKey: ${{ secrets.BUNNY_API_KEY }}" -T "./index.html"

      - name: Upload Home
        run: curl -X PUT "https://storage.bunnycdn.com/${{ secrets.BUNNY_STORAGE_NAME }}/home.html" -H "AccessKey: ${{ secrets.BUNNY_API_KEY }}" -T "./home.html"
