name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Sync
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ny-storage.bunnycdn.com
          username: ${{ secrets.BUNNY_STORAGE_NAME }}
          password: ${{ secrets.BUNNY_STORAGE_PASSWORD }}
